


@font-face {
    font-family: 'Calibre-Medium';
    src:url('../font/Calibre-Medium.woff') format('woff'),
        url('../font/Calibre-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Coolvetica";
    src: url("../font/coolvetica\ rg.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "cool";
    src: url("../font/coolvetica crammed rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mark Pro';
    src: url('../font/MarkPro-Heavy.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "Circular Std";
    src: url('../font/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Calibre-Regular';
    src:url('../font/Calibre-Regular.woff') format('woff'),
        url('../font/Calibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*--------------------------
    variables
---------------------------*/

//fonts
$primary-font: 'Calibre-Regular', sans-serif;
$secondary-font: 'Calibre-SemiBold', sans-serif;
$tertiary-font: 'Calibre-Medium', sans-serif;
$stylefont: "Mark Pro";
$circular: "Circular Std";
$coolvetica: "Coolvetica";
$cool: "cool";

//colors
$primary-color: #09F755;
$secondary-color: #797575;
$white: #eeeeee;
$black: #000000;
$lightblue: #6bc5f8;
$lightpurple: rgb(207, 89, 230);

/*--------------------------
    base settings
---------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    // border: solid 2px red;

}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; // 10px
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    
    @media only screen and (max-width: 62.5em) { // tab-land
        font-size: 75.25%;
    }
    
    @media only screen and (max-width: 56.25em) { // tab-port
        font-size: 75%; 
    }

    @media only screen and (max-width: 37.5em) { // phone
        font-size: 81%; 
    }
    
    @media only screen and (min-width: 112.5em) { // big desktop
        font-size: 95%; // 1rem = 12px, 12/16 = 75
    }
    
}
body {
    font-family: $primary-font;
    font-size: 1.7rem;
    background-color: $black;
    color: $white;
    overflow-x: hidden;
    // cursor: none;
    position: relative;
    width: 100%;
    height: 100%;

    @media only screen and (min-width: 20em) { // big desktop
        overflow-x: scroll;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
}

.noScroll {
    overflow-y: hidden;
}

.smooth-scroll-wrapper {
    position: relative;
    // width: 100vw;
}


section {
    transition: transform 0.25s;
    will-change: transform;
}

// cursor

.cursor {
    width: 2rem;
    height: 2rem;
    border: 2.5px solid $white;
    border-radius: 50%;
    position: absolute;
    top: -10rem;
    left: -10rem;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transform-origin: 100% 100%;
    transition: all .3s ease;
    transition-property: background, transform;

    @media only screen and (max-width: 62.5em) { // tab-land
        opacity: 0;
    }
}
/*--------------------------
    typography
---------------------------*/
.heading-2 {
    font-family: $stylefont;
    font-size: 4rem;
    letter-spacing: -1px;
    text-transform: capitalize;
    margin-left: 3rem;
    background: linear-gradient(
        -45deg,
        $lightblue,
        $lightpurple,
        $lightblue,
        $lightpurple
    );
    margin: 1rem 3rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

.heading-3 {
    font-size: 4rem;
    text-transform: capitalize;
    letter-spacing: -.5px;
    line-height: 4rem;
    font-family: $tertiary-font;

}
.section-head{
    margin-left: 3rem;
    margin-top: 6rem;
}

.heading-4 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.heading-5 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $white;
}

.paragraph {
    margin-left: 3rem;
    font-size: 1.5rem;
    color: $secondary-color;
}



/*--------------------------
    button
---------------------------*/
.cta {

    padding: 1.5rem 4rem;
    text-decoration: none;
    color: $white;
    border-radius: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: $secondary-font;
    letter-spacing: 3px;
    border: 1.5px solid $white;
    cursor: pointer;
    transition: all .3s ease-in-out;
   
    &:hover {
        background: linear-gradient(
            -45deg,
            $lightblue,
            $lightpurple);
        border: 1.5px solid $white;
        color: $black;
    }
}


/*--------------------------
    utilities
---------------------------*/
.pri-color {
    color: $primary-color;
}
.sec-color {
    color: $secondary-color;
}
.mb-l {
    margin-bottom: 5rem;
}
.mb-m {
    margin-bottom: 3rem;
}
.mb-s {
    margin-bottom: 1.3rem;
}
.mt-s {
    margin-top: 1rem;
}
.mt-l {
    margin-top: 4rem;
}


// Link

a {
    text-decoration: none;
    // padding: 0.4rem 0.8rem;
    // border: 1px solid white;
    text-transform: capitalize;
    position: relative;
    color: $white;
}
a::before, a::after{
    transition: all .5s;
}
a::after{
    
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        // background: $lightblue;
        height: 1px;
}
a:hover::after{
    width: 80%;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #000000;
}
::-webkit-scrollbar-thumb{
    background:  linear-gradient(
        -45deg,
        $lightblue,
        $lightpurple,
        $lightblue,
        $lightpurple);
}


// home anim


.square{
    position: absolute;
    right: 10%;
    top: 20%;
    width: 20px;
    height: 20px;
    border: 3px solid purple;
    animation: squareAnim;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    z-index: 100;
}
.circle{
    width: 20px;
    height: 20px;
    border: 3px solid #00ffba;
    border-radius: 50%;
    background: #00ffba;
    position: absolute;
    bottom: 10%;
    right: 30%;
    animation: circleAnim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    z-index: 100;
    transition: 1s ease;
}
.triangle{
    position: absolute;
    top: 15%;
    left: 3%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid #0062ff;
    border-bottom: 15px solid transparent;
    animation: triangle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 100;
}
.bottomleft{
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    z-index: -1;
    animation: botttomleft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: .2s all;
    .smaller{
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background: #0062ff;
        z-index: 1;
        animation: botttomleftsmaller;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}
.bigCircle{
    // display: none;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 8px solid crimson;
    border-radius: 50%;
    bottom: 30%;
    left: 30%;
    animation: bigCircle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    @media (min-width: 700px) {
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        border: 15px solid crimson;
        border-radius: 50%;
        bottom: 30%;
        left: 30%;
        animation: bigCircle;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @media (max-width: 700px) {
        display: none;
    }
}

@keyframes circleAnim {
    0%{
        opacity: 1;
        // transform: translateX(-40px);
    }
    50%{
        opacity: 0;
    }
    71%{
        opacity: 1;
        // transform: translateX(40px);
    }
}

@keyframes botttomleftsmaller {
    from{
        background: #0062ff;
    }
    to{
        background: #f50057;
    }
}

@keyframes squareAnim {
    0%{
        display: block;
    }
    50%{
        transform: rotate(65deg);
    }
    90%{
        opacity: 0;
    }
}

@keyframes triangle {
    0%{
        display: block;
    }
    50%{
        transform: rotate(65deg);
    }
    90%{
        opacity: 0;
    }
}
@keyframes bigCircle {
    0%{

    }  
    25%{
        transform: translateX(-50px);
    } 
    50%{
        transform: translateY(-70px);
    }
}

@keyframes botttomleft {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-30px);
    }
}
