@import "../../sass/main.scss";
#home {
    min-height: 95vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $coolvetica !important;
    .homeTexts{
        position: absolute;
        top: 30%;
        text-align: left;
        margin-left: 3rem;
        max-width: 100%;
        @media (min-width: 700px) {
            width: 100%;
            top: 30%;
            // left: 50%;
            text-align: center;
            margin: 0;
        }
        h3{
            color: #868f97;
            // font-size: 4rem;
            letter-spacing: 2px;
            @media (min-width: 700px) {
                font-size: 1rem;
                letter-spacing: 5px;
            }
        }
        h1{
            color: white;
            font-size: 5rem;
            margin: 2rem 0rem;
            font-weight: 700;
            line-height: 1.25;
            @media (min-width: 700px) {
                // width: 80%;
                font-size: 4.5rem;
                letter-spacing: 2px;
            }
        }
        .homeCta{
            color: white;
            @media (min-width: 700px) {
                font-size: 1rem;
            }
        }
        .homeAbout{
            font-size: 1rem;
            text-decoration: none;
            font-weight: 800;
            color: #00ffba;
            @media (min-width: 700px) {
                font-size: 1.2rem;
            }
        }
        .homeProjects{
            font-size: 1rem;
            text-decoration: none;
            font-weight: 800;
            color: #d62802;
            @media (min-width: 700px) {
                font-size: 1.2rem;
            }
        }
}}
