@import './../..//sass/main.scss';
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    font-weight: 400;
}
nav {
    font-family: $circular;
    .menuIcon {
        @media screen and (max-width: 790px) {
            display: block;
        }
        display: none;
    }
    @media screen and (max-width: 790px) {
        left: -100%;
        transition: all .5s ease;
    }
    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        li {
            margin: 0rem 2rem;
            a {
                text-decoration: none;
                // padding: 0.4rem 0.8rem;
                // border: 1px solid white;
                text-transform: capitalize;
                position: relative;
                color: $white;
            }
            a::before, a::after{
                transition: all .5s;
            }
            a::after{
                
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: '.';
                    color: transparent;
                    background: $lightpurple;
                    height: 1px;
            }
            a:hover::after{
                width: 80%;
            }
        }
    }
    .socialIcons{
        display: none;
    }
}

@media screen and (max-width: 960px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navactive {
        transition: all .5s ease;
        position: fixed;
        top: 10vh;
        left: 0%;
        height: 100%;
        background: black;
        z-index: 100;
        width: 100%;
        .close{
            position: fixed;
            top: 4.1%;
            right: 8%;
        }
        ul {
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            li{
                margin: 2rem 0rem;
            }
        }
        .socialIcons{
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 15%;
            margin-left: 2rem;
            .icon{
                margin-right: 1rem;
                font-size: 1.3rem;
            }
        }
    }
    .navmenu{
        display: none;
    }
    
}

.menuIcon{
    display: none;
    @media screen and (max-width: 54.6em) {
        display: block;
    }
}